@import url(../App.css);

/* Estilo general del sidebar */
.sidebar {
  height: 100vh;
  width: 200px;
  background-color: var(--color-sidebar-card);
  color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-icons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar-header .logo {
  width: auto;
  height: 50px;
  margin-bottom: 10px;
}

.sidebar-header h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #ffffff;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* .menu-item {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: border 0.3s ease;
  border-radius: 16px;
  border: 2px solid transparent;
  background-color: transparent;
} */

/* Resalta la opción activa */
.menu-item.active {
  /* background-color: var(--color-button-green); */
  color: var(--color-white);
  border: 2px solid var(--color-button-green);
}

/* Efecto de hover mejorado */

.menu-item svg {
  font-size: 20px;
}

.menu-item span {
  margin-left: 10px;
}

.bottom-section {
  margin-top: auto;
}

.logout {
  margin-bottom: 40px;
}
